:root {
    --primary-color: #F07807;
    --secundary-color: #F7E5D8;
    --default-padding: 0 80px;
    --default-shadow: 0px 4px 4px #0005;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol,
li {
    list-style: none;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--secundary-color);
}


/* ==========ESTILIZAÇÃO DO HEADER========== */

header {
    top: 60px;
    height: 60px;
    width: 100vw;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--default-padding);
}

header menu {
    display: flex;
    align-items: center;
    gap: 48px;
}

header li {
    padding: 4px 8px;
    transition: .5s;
}

header li:hover {
    background-color: var(--secundary-color);
    box-shadow: 0px 4px 4px #0005;
}

header button {
    height: 48px;
    width: 120px;
    border-radius: 12px;
    box-shadow: 0px 4px 4px #0005;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background-color: var(--secundary-color);
    color: var(--primary-color);
    font-weight: bold;
}


/* ========================================= */


/* ==========ESTILIZAÇÃO DO MAIN========== */

main {}

section {
    height: 100vh;
    padding: var(--default-padding);
}

.home {
    background-image: url(../assets/img/bg-home.svg);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: contain;
    display: grid;
    grid-template-rows: 3fr 1fr;
}

.container-top {
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 64px;
}

.container-top h2 {
    position: relative;
    bottom: 120px;
    font-size: 4rem;
    font-weight: 500;
    font-style: italic;
    width: 568px;
}

.container-top span {
    color: var(--primary-color);
}

.container-pizzas {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pizza {
    display: grid;
    position: relative;
    box-shadow: var(--default-shadow);
    border-radius: 12px;
}

.add-pizza {
    position: absolute;
    top: -16px;
    right: -16px;
    display: grid;
    place-content: center;
    width: 40px;
    height: 40px;
    background-color: var(--primary-color);
    font-size: 2rem;
    color: white;
    border-radius: 12px;
    border: 4px solid white;
    opacity: 0;
    transition: .7s;
}

.pizza:hover .add-pizza {
    opacity: 1;
}

.overflow {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 8px;
    overflow: hidden;
}

.container-info {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    bottom: -36px;
    height: 36px;
    width: 100%;
    background-color: #0008;
    border-radius: 0px 0px 8px 8px;
    transition: .5s;
}

.pizza:hover .container-info {
    bottom: 0;
}

.container-info p {
    font-size: 10px;
    font-weight: 400;
    width: 102px;
    color: white;
}

.container-info span {
    display: grid;
    place-content: center;
    width: 57px;
    height: 20px;
    font-size: 12px;
    font-weight: 600;
    background-color: var(--primary-color);
    border-radius: 4px;
    color: white;
}

.cardapio {
    background-color: purple;
}

.servicos {
    background-color: gold;
}


/* ======================================= */


/* ==========ESTILIZAÇÃO DO FOOTER========== */

footer {
    height: 526px;
    background-color: pink;
}


/* ========================================= */