:root {
    --primary-color: #F07807;
    --secundary-color: #F7E5D8;
    --default-padding: 0 80px;
    --default-shadow: 0px 4px 4px #0005;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol,
li {
    list-style: none;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--secundary-color);
}


/* ==========ESTILIZAÇÃO DO HEADER========== */

header {
    top: 60px;
    height: 60px;
    width: 100vw;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--default-padding);
}

header menu {
    display: flex;
    align-items: center;
    gap: 48px;
}

header li {
    padding: 4px 8px;
    transition: .5s;
}

header li:hover {
    background-color: var(--secundary-color);
    box-shadow: 0px 4px 4px #0005;
}

header button {
    height: 48px;
    width: 120px;
    border-radius: 12px;
    box-shadow: 0px 4px 4px #0005;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background-color: var(--secundary-color);
    color: var(--primary-color);
    font-weight: bold;
}


/* ========================================= */


/* ==========ESTILIZAÇÃO DO MAIN========== */

section {
    height: 100vh;
    padding: var(--default-padding);
}

.home {
    background-image: url(./assets/icons/bg-home.svg);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: contain;
    display: grid;
    grid-template-rows: 3fr 1fr;
}

.container-top {
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 64px;
}

.container-top h2 {
    position: relative;
    bottom: 120px;
    font-size: 4rem;
    font-weight: 500;
    font-style: italic;
    width: 568px;
}

.container-top span {
    color: var(--primary-color);
}

.container-pizzas {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pizza {
    display: grid;
    position: relative;
    box-shadow: var(--default-shadow);
    border-radius: 12px;
}

.add-pizza {
    position: absolute;
    top: -16px;
    right: -16px;
    display: grid;
    place-content: center;
    width: 40px;
    height: 40px;
    background-color: var(--primary-color);
    font-size: 2rem;
    color: white;
    border-radius: 12px;
    border: 4px solid white;
    opacity: 0;
    transition: .7s;
}

.pizza:hover .add-pizza {
    opacity: 1;
}

.overflow {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 8px;
    overflow: hidden;
}

.container-info {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    bottom: -36px;
    height: 36px;
    width: 100%;
    background-color: #0008;
    border-radius: 0px 0px 8px 8px;
    transition: .5s;
}

.pizza:hover .container-info {
    bottom: 0;
}

.container-info p {
    font-size: 10px;
    font-weight: 400;
    width: 102px;
    color: white;
}

.container-info span {
    display: grid;
    place-content: center;
    width: 57px;
    height: 20px;
    font-size: 12px;
    font-weight: 600;
    background-color: var(--primary-color);
    border-radius: 4px;
    color: white;
}

.cardapio {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #fafafa;
}

.cardapio-item {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    border-bottom: 1px solid var(--primary-color);
    height: 260px;
}

.cardapio-item:last-child {
    border: none;
}

.section-title {
    display: flex;
    gap: 24px;
    align-items: center;
}

.section-title h3 {
    font-size: 2.5rem;
    color: var(--primary-color);
    font-weight: 400;
}

.item-texto {
    display: flex;
    justify-content: space-between;
}

.item-texto h4,
.item-texto a {
    color: var(--primary-color);
    font-size: 1.5rem;
    font-weight: 600;
}

.bebida {
    box-shadow: none;
    transition: 0.5;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
}

.bebida .preco {
    color: var(--primary-color);
    display: flex;
}

.bebida p {
    width: 100%;
}

.bebida .descricao {
    font-size: 0.6rem;
}

.bebida:hover {
    box-shadow: var(--default-shadow);
}

.servicos {
    background-color: gold;
}


/* ======================================= */


/* ==========ESTILIZAÇÃO DO FOOTER========== */

section {
    height: 100vh;
    padding: var(--default-padding);
}

.home {
    background-image: url(./assets/icons/bg-home.svg);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: contain;
    display: grid;
    grid-template-rows: 3fr, 1rem;
}

.container-top {
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 64px;
}

.container-top h2 {
    position: relative;
    bottom: 80px;
    font-size: 4rem;
    font-weight: 500;
    font-style: italic;
    width: 568px;
}

.container-top span {
    color: var(--primary-color);
}

.container-produtos {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.produto {
    box-shadow: var(--default-shadow);
    display: grid;
    border-radius: 15px;
    position: relative;
}

.add-pizza {
    position: absolute;
    top: -16px;
    right: -16px;
    display: grid;
    place-content: center;
    width: 40px;
    height: 40px;
    background-color: var(--primary-color);
    font-size: 2rem;
    color: white;
    border-radius: 12px;
    border: 4px solid white;
    opacity: 0;
    transition: .6s;
}

.overflow {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.container-info {
    bottom: -36px;
    position: absolute;
    height: 36px;
    width: 100%;
    background-color: #0008;
    border-radius: 0 0 8px 8px;
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
    align-items: center;
    transition: .5s;
}

.produto:hover .container-info {
    bottom: 0;
}

.container-info p {
    font-size: 10px;
    font-weight: 200px;
    width: 102px;
    color: white;
}

.container-info span {
    font-size: 10px;
    display: grid;
    place-content: center;
    font-weight: 200px;
    width: 57px;
    height: 20px;
    padding: 5px;
    background-color: var(--primary-color);
    border-radius: 4px;
    color: white;
    font-weight: bold;
}

.produto:hover .add-pizza {
    opacity: 1;
}

.cardapio {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #fafafa;
}

.cardapio-item {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    border-bottom: 1px solid var(--primary-color);
    height: 260px;
}

.cardapio-item:last-child {
    border: none;
}

.section-title {
    display: flex;
    gap: 24px;
    align-items: center;
}

.section-title h3 {
    font-size: 2.5rem;
    color: var(--primary-color);
    font-weight: 400;
}

.item-texto {
    display: flex;
    justify-content: space-between;
}

.item-texto h4,
.item-texto a {
    color: var(--primary-color);
    font-size: 1.5rem;
    font-weight: 600;
}

.bebida {
    box-shadow: none;
    transition: 0.5;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
}

.bebida .preco {
    color: var(--primary-color);
    display: flex;
}

.bebida p {
    width: 100%;
}

.bebida .descricao {
    font-size: 0.6rem;
}

.bebida:hover {
    box-shadow: var(--default-shadow);
}

.servicos {
    height: auto;
    padding-block: 32px;
    background-color: var(--secundary-color);
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.servicos-container {
    display: flex;
    justify-content: space-between;
}

.servicos-item {
    width: 400px;
    height: 500px;
    border: 4px solid var(--primary-color);
    border-radius: 24px;
    padding: 42px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.servicos-item img {
    filter: drop-shadow(2px 2px 4px #0005);
}

.servicos-item h4 {
    font-size: 2.5rem;
    font-weight: 500;
    color: var(--primary-color);
    text-shadow: 2px 2px 4px #0005;
}

.servicos-item p {
    text-align: center;
    text-shadow: 2px 2px 4px #0005;
    font-size: 1.125rem;
}

footer {
    height: 526px;
    background-color: var(--primary-color);
    color: #fafafa;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

footer nav {
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

.social a {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 3px solid #FAFAFA;
    display: grid;
    place-content: center;
    transition: 0.5s;
}

.social a:hover {
    background-color: #fafafa;
    color: var(--primary-color);
}

.copyright {
    height: 72px;
    width: 100%;
    display: grid;
    place-content: center;
    font-size: 0.8rem;
    font-weight: 300;
    font-style: italic;
    border-top: 2px solid var(--secundary-color);
}


/* ========================================= */